* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
}

.icon-container {
    margin-top: 97px;
    display: flex;
    justify-content: center;
    gap: 58px;
    align-items: flex-end;
}

.icon-container > div {
    text-align: center;
}

.icon-container img {
    max-width: 100%;
    height: auto;
}

.icon-container p {
    margin-top: 13px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.icon-container h3 {
    margin-top: 24px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Spin Cycle', sans-serif;
}
