footer {
    display: flex;
    background-color: #071629;
    justify-content: space-around;
    height: 249px;
    align-items: center;
}

footer div {
    /* border: 1px solid white; */
}

.footer-links {
    display: flex;
    align-items: center;
    color: white;
}

.footer-section img {
    width: 161px;
    height: 32px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.footer-socials {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}
.copyright {
    color: white;
    font-size: 12px; 
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
